.container{
    background-color: lightsalmon;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 200px;
    


}
.clr1{
    background-color: maroon;
    color: mintcream;
    text-align: left;
    padding: 10px;
}
.clr2{
    display:grid;
    grid-template-columns:50% 50%;
    margin: 80px;
    padding: 10px;
    gap: 15px;
    font-size: 25px;
    font-style: italic;
}
.clr3{
    background-color: orangered;
    color: black;
    display:grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    padding-left: 500px;
    margin: 20px;
    padding-right: 300px;
}